{% extends "core/base.html" %}

{% block title %}
    {{ lead.name }}
{% endblock %}


{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold">Name</p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created at</p>
        <p class="mb-2">{{ lead.created_at }}</p>

        <p class="font-semibold">Modified at</p>
        <p class="mb-6">{{ lead.modified_at }}</p>

        <hr class="my-4">

        <div class="flex items-center mt-4">
            <form id="convert_form_{{ lead.id }}" action="{% url 'leads:convert' lead.id %}" method="POST" class="inline mr-2">
                {% csrf_token %}
                <button type="submit" class="py-2 px-4 rounded-xl bg-blue-500 text-white">Convert to Client</button>
            </form>

            <a href="{% url 'leads:edit' lead.id %}" class="py-2 px-4 rounded-xl bg-teal-500 text-white mr-2">Edit</a>

            <form id="lead_delete_form" action="{% url 'leads:delete' lead.pk %}" method="POST" class="inline">
                {% csrf_token %}
                <button type="submit" class="py-2 px-4 rounded-xl bg-red-500 text-white">Delete</button>
            </form>
        </div>


        <hr class="my-4">

        <a href="{% url 'leads:list' %}">Back to leads</a>
    </div>
{% endblock %}