{% extends "core/base.html" %}

{% block title %}
Teams
{% endblock %}


{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">Teams</h1> 

        <div class="grid grid-cols-4 gap-4">
            {% for team in teams %}
                <div class="bg-gray-100 rounded-xl p-6">
                    <h2 class="text-xl"> {{ team.name }} </h2>

                    <a href="#">Active team</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 